@import url("https://fonts.googleapis.com/css2?family=Charmonman&display=swap");

/* Alap stílusok */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Charmonman", serif;
  background-color: #f4efe9;
  color: #5a5a42;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Fejléc */
.header {
  position: relative;
  padding: 10px;
  text-align: center;
  flex-shrink: 0;
  z-index: 10;
  height: 150px;
  background-color: #d8cebf;
  width: 100%;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("header.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: -1;
}

.header .content {
  position: relative;
  z-index: 1;
}

.header-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #454534;
}

/* Fő tartalom */
.main-content {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Egyetlen nagy fő szekció */
.main-section {
  background-color: #ece7e0;
  width: 70%;
  height: 100vh;
  padding: 30px;
  text-align: center;
  box-sizing: border-box;
}

.custom-link {
  color: #314d34;
  font-weight: bold;
  text-decoration: none;
}

/* Link hover állapot */
.custom-link:hover {
  color: #1e4d36;
  text-decoration: underline;
  font-weight: bold;
}

/* Jobb oldali oldalsáv */
.sidebar {
  background-color: #dcd4c5;
  width: 30%;
  height: 100vh;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  font-size: 1.2rem;
  line-height: 1.6;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/* Visszajelzés */
.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.input-field,
select {
  width: 300px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
}

.submit-button {
  padding: 15px 30px;
  background-color: #5a5a42;
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #7a6f55;
}

/* Mobilbarát nézet */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .main-section,
  .sidebar {
    width: 100%;
    height: auto;
  }

  .sidebar {
    font-size: 1.1rem; /* Mobilon kisebb betűméret */
  }
}
