@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

/* Alap stílusok */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Lora", serif;
  background-color: #f4efe9;
  color: #5a5a42;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  line-height: 1.6;
  list-style-type: none;
}

p,
li {
  font-family: "Merriweather", serif;
  font-size: 1rem;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Fejléc */
.header {
  position: relative;
  padding: 40px;
  text-align: center;
  flex-shrink: 0;
  z-index: 10;
  background-color: #d8cebf;
  width: 100%;
  margin-bottom: 0;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("asd2.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  opacity: 0.1;
  z-index: -1;
}

.header-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #454534;
  font-family: "Parisienne", serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.header h1,
.header h2 {
  margin: 0;
}

.header h2 {
  font-size: 1.5rem;
  line-height: 1.2;
}

.menu {
  display: flex;
  gap: 100px;
  justify-content: center;
  margin-top: 30px;
  font-family: "Merriweather", serif;
  font-weight: bolder;
  color: #272720;
  font-size: 0.8rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

/* Fő tartalom */
.main-content {
  display: flex;
  width: 100%;
  flex: 1;
  align-items: stretch;
}

/* Fő szekció */
.main-section {
  background-color: #ece7e0;
  width: 70%;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.section-title {
  font-size: 1.3rem;
  font-family: "Merriweather", serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Jobb oldali oldalsáv */
.sidebar {
  background-color: #dcd4c5;
  width: 30%;
  padding: 60px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar-title {
  font-size: 2.2rem;
  font-family: "Parisienne", serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

/* Kép a fő tartalom bal oldalán */
.side-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  align-self: center;
}

/* Visszajelzés */
.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.input-field,
select {
  width: 350px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
}

.submit-button {
  padding: 15px 30px;
  background-color: #5a5a42;
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #7a6f55;
}

/* Lábléc */
.footer {
  background-color: #d8cebf;
  padding: 20px;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
  box-sizing: border-box;
}

.map-container {
  position: relative;
  width: 100%;
  padding-bottom: 20%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 20px;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer-image {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Mobilbarát nézet */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .main-section,
  .sidebar {
    width: 100%;
    height: auto;
  }

  .sidebar {
    font-size: 1.1rem;
  }
  .menu {
    display: flex;
    flex-wrap: wrap; /* Engedélyezi az elemek több sorba rendezését */
    gap: 10px;
    justify-content: space-around;
    margin-top: 30px;
    font-family: "Merriweather", serif;
    font-weight: bolder;
    color: #272720;
    font-size: 1rem; /* Növeli a betűméretet, hogy jobban illeszkedjen */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  }

  /* Menüelemek egyedi stílusozása, hogy megfelelően elférjenek a két oszlopban */
  .menu > a {
    width: 45%; /* Az elemek szélessége 45%-ra csökkentve, így elférnek két oszlopban */
    text-align: center;
  }
}
